<%- include('partials/header') %>

<div class="container mt-5">
    <div class="row">
        <div class="row mb-2">
            <div class="col-md-5">
                <a href="/" id="btnRegresar" class="btn btn-sm btn-primary">Regresar</a>
                <a href="/" class="btn btn-sm btn-info text-light">Inicio</a>
            </div>
        </div>

        <div class="mx-auto">
            <form id="formNuevaReserva" method="POST" class="rounded border p-3" data-id="<%= id %>">
                <h3 class="mb-3 text-center bg-primary text-light rounded p-2">Nueva Reserva</h3>
                <div class="row">
                    <div class="col col-md-6 col-sm-12 mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" required="true" class="form-control" id="nombre" name="nombre">
                    </div>
                    <div class="col col-md-6 col-sm-12 mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" required="true" class="form-control" id="apellido"
                            name="apellido">
                    </div>
                </div>
                <div class="row">
                    <!-- Fecha Actual -->
                    <div class="col col-md-6 col-sm-12 mb-3">
                        <label for="fecha_actual" class="form-label">Fecha actual</label>
                        <input type="datetime-local" required="true" class="form-control" id="fecha_actual"
                            name="fecha_actual">
                    </div>

                    <!-- Fecha de Salida de vuelo -->
                    <div class="col col-md-6 col-sm-12 mb-3">
                        <label for="fecha_salida_vuelo" class="form-label">Fecha Salida</label>
                        <input type="datetime-local" required="true" class="form-control" id="fecha_salida_vuelo"
                            name="fecha_salida_vuelo">
                    </div>

                </div>

                <div class="row">
                    <!-- Nro de asiento -->
                    <div class="col col-sm-12 col-md-6 mb-3">
                        <label for="asiento" class="form-label">Asiento</label>
                        <input type="number" required="true" class="form-control" id="asiento"
                            name="asiento">
                    </div>

                    <!-- Origen -->
                    <div class="col col-sm-12 col-md-6 mb-3">
                        <label for="origen" class="form-label">Cant. Personas</label>
                        <input type="text" required="true" class="form-control" id="origen"
                            name="origen">
                    </div>
                </div>

                <div class="row">
                    <!-- Destino -->
                    <div class="col col-sm-12 col-md-6 mb-3">
                        <label for="destino" class="form-label">Destino</label>
                        <input type="text" required="true" class="form-control" id="destino"
                            name="destino">
                    </div>

                <div class="row d-flex align-items-center justify-content-end">
                    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 col-2 mb-1">
                        <button type="submit" class="w-100 btn btn-sm btn-primary">Guardar</button>
                    </div>
                    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 col-2 mb-1">
                        <a href="/" class="w-100 btn btn-sm btn-secondary">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/editar-reserva.js"></script>

<%- include('partials/footer') %>